image:
  registry: {{ registry_host }}
  repository: headlamp-k8s/headlamp
  tag: {{ headlamp_image_tag }}
  pullPolicy: IfNotPresent
service:
  type: {{ headlamp_service_type }}
  port: 80
serviceAccount:
  create: true
clusterRoleBinding:
  create: true
  clusterRoleName: cluster-admin
